{# wrapper_prefix #}
{# {{title|wrap('h3')}} #}

{{ list_type_prefix }}
{% for id,row in rows %}
    <li {% if classes_array[id] %} class="{{ classes_array[id] }}" {% endif %}>
        {{ row }}
    </li>
{% endfor %}
{{ list_type_suffix }}

{# wrapper_suffix #}
