{% block views_view %}
    <div class="{{ classes }}">
        {{ title_prefix }} {{ title }}  {{ title_suffix }}
        {% if header %}
            <div class="view-header">
                {{ header }}
            </div>
        {% endif %}
        {% if exposed %}
            <div class="view-filters">
                {{ exposed }}
            </div>
        {% endif %}
        {% if attachment_before %}
            <div class="attachment attachment-before">
                {{ attachment_before }}
            </div>
        {% endif %}

        {% if rows %}
            {{ rows }}
        {% elseif empty %}
            <div class="view-empty">
                {{ empty }}
            </div>
        {% endif %}
        {{ pager }}

        {% if attachment_after %}
            <div class="attachment attachment_after">
                {{ attachment_after }}
            </div>
        {% endif %}
        {{ more }}
        {% if footer %}
            <div class="view-footer">
                {{ footer }}
            </div>
        {% endif %}

        {% if feed_icon %}
            <div class="feed-icon">
                {{ feed_icon }}
            </div>
        {% endif %}
    </div>
{% endblock views_view %}
