{% macro webform_element(element,message) %}
    {% if message is not defined and element['#required'] == 1 %}
        {% set message = element['#title']~' '~'required'|t %}
    {% endif %}
    <div class="Form-module" form-control ng-model="formControlModel"
         {% if message is not null %}data-error-message="{{ message }}" {% endif %}>

        {% if element['#title_display'] != "none" %}
            <label for="{{ element['#id'] }}">{{ element['#title'] }}</label>
        {% endif %}
        {% if element['#type'] == 'radios' %}
            {% for radioelement in element|striphashes %}
                {{ radioelement }}
            {% endfor %}
        {% else %}
            {{ element }}
        {% endif %}

        {% if message is not null %}
            <div class="Form-message Form-message--invalid Form-message--error">
                <em>{{ message }}</em>
            </div>
        {% endif %}
    </div>
{% endmacro %}
