{% set classtag = '' %}
{% if classes %}
    {% set classtag = 'class="'~classes~'"' %}
{% endif %}

{% set idtag = '' %}
{% if id_node %}
    {% set idtag = 'id="'~id_node~'"' %}
{% endif %}


{{ hide(content.comments) }}
{{ hide(content.links) }}

<article {{ idtag }} {{ classtag }} {{ attributes }} role="article">
    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}><a href="{{ node_url }}" rel="bookmark">{{ title }}</a></h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
        <footer>
            {{ user_picture }}
            <span class="author">{{ 'Written by'|t }} {{ name }}</span>
            <span class="date"><?{{ 'On the'|t }} <time>{{ date }}</time></span>

            {% if theme_get_setting('comment') %}
                <span class="comments">{{ comment_count }} Comments</span>
            {% endif %}
        </footer>
    {% endif %}

    <div class="content">
        {{ content }}
    </div>
    {{ content.links }}
    {{ content.comments }}
</article>

{% if theme_get_setting('solid_poorthemers_helper') %}
    <!-- //node.tpl.php -->
{% endif %}
