{% import '@solid/macros/macro.poorthemershelper.tpl.twig' as pth %}
{{ pth.suggestions(_context,'page') }}
{% block page_header %}
{% if page.header %}
{{ page.header }}
{% endif %}
{% endblock page_header %}
{% block page_content %}
    <div class="page">
        <div role="main" id="main-content">
          <article>
            <h1>Not Found</h1>
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <p>It looks like this was the result of either:</p>
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
            </ul>
            <a href="/search/">search ?</a>
            <script>
                var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
            </script>
            <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
          </article>
          {% if page.highlighted || messages %}
            <div class="drupal-messages">
                {{ page.highlighted }}
                {{ messages }}
            </div>
          {% endif %}
        </div>
        {% if page.sidebar_first %}
          <div class="sidebar-first">
              {{ page.sidebar_first }}
          </div>
        {% endif %}
        {% if page.sidebar_second %}
          <div class="sidebar-seconds">
              {{ page.sidebar_second }}
          </div>
        {% endif %}
        </div>
{% endblock page_content %}
{% block page_footer %}
    <footer role="contentinfo">
        {{ page.footer }}
    </footer>
{% endblock page_footer %}
    
