
{% block page_header %}
    {% if page.header %}
        {{ page.header }}
    {% endif %}
{% endblock page_header %}
{% block page_content %}
    <div class="page">
        <div role="main" id="main-content">
            {{ page.content_pre }} {{page.content}} {{page.content_post}}
            {{ dump(theme_hook_suggestions) }}
            {% if page.highlighted || messages %}
                <div class="drupal-messages">
                    {{ page.highlighted }}
                    {{ messages }}
                </div>
            {% endif %}
        </div>
        {% if page.sidebar_first %}
            <div class="sidebar-first">
                {{ page.sidebar_first }}
            </div>
        {% endif %}

        {% if page.sidebar_second %}
            <div class="sidebar-seconds">
                {{ page.sidebar_second }}
            </div>
        {% endif %}
    </div>
{% endblock page_content %}
{% block page_footer %}
    <footer role="contentinfo">
        {{ page.footer }}
    </footer>
{% endblock page_footer %}
