{#}
 * @file
 * Customize the display of a complete webform.
 *
 * This file may be renamed "webform-form-[nid].tpl.php" to target a specific
 * webform on your site. Or you can leave it "webform-form.tpl.php" to affect
 * all webforms on your site.
 *
 * Available variables:
 * - $form: The complete form array.
 * - $nid: The node ID of the Webform.
 *
 * The $form array contains two main pieces:
 * - $form['submitted']: The main content of the user-created form.
 * - $form['details']: Internal information stored by Webform.
 *
 * If a preview is enabled, these keys will be available on the preview page:
 * - $form['preview_message']: The preview message renderable.
 * - $form['preview']: A renderable representing the entire submission preview.
 */
#}
{# Print out the progressbar if setted #}
{{ form.progressbar }}

{# Print out the preview message if on the preview page .#}
{{ form.preview_message }}

  {# Feel free to break this up and move the pieces within the array .#}
  {{ form.submitted }}

  {# Always print out the entire $form. This renders the remaining pieces of the #}
  {# form that haven't yet been rendered above (buttons, hidden elements, etc). #}
  {# TODO Figure this out in a more sustainable for #}
{#{{ form }}#}
